<a href="https://colab.research.google.com/github/mohiiieldin/Xente-Purchase-Prediction-Hakathon-Python/blob/master/Xente_Hakathon_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The Data was provided by Zindi 
https://zindi.africa/hackathons/umojahack-2-xente-purchase-prediction-challenge

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/94/ec/12b9a42b2ea7dfe5b602f235692ab2b61ee1334ff34334a15902272869e8/catboost-0.22-cp36-none-manylinux1_x86_64.whl (64.4MB)
     |████████████████████████████████| 64.4MB 64kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (0.25.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (46.0.0)
Installing collected packages: catboost
Successfully installed catboost-0.22

In [0]:
# importing main libraries 
import  pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, timedelta,date
import pandas_profiling 
from pandas_profiling import ProfileReport
import seaborn as sns
from numpy import sqrt 
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
# from keras.layers import Embedding 
,
#importing machine learning libraries
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import confusion_matrix
import sklearn.metrics as metrics
from sklearn.cluster import KMeans

# import classifier
from sklearn.ensemble import RandomForestClassifier
from xgboost.sklearn import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier

#importing regressors
from xgboost.sklearn import XGBRegressor
#from catboost import CatBoostRegressor



from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn import svm

#ignoring warnings
import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn import metrics



#Pipeline and encoders
#from sklearn.compose import columnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
from catboost import Pool
from catboost import CatBoostClassifier

Rading and cleaning the data

In [0]:
Pid_path="/content/drive/My Drive/zindi-data/PID_Categories.csv"
sample_path = '/content/drive/My Drive/zindi-data/SampleSubmission.csv'
train_path = '/content/drive/My Drive/zindi-data/Train.csv'
original = pd.read_csv(train_path)
categories = pd.read_csv(Pid_path)
submission = pd.read_csv(sample_path)

In [0]:
train = original.copy()

# data cleaning

In [0]:
train.date =  pd.to_datetime(train.date)

In [0]:
train = train.assign(year =  train.date.dt.year, month = train.date.dt.month ,day = train.date.dt.day)

In [0]:
from datetime import datetime

In [0]:
train['weekday'] = train['date'].dt.dayofweek
train

                         date           acc   PID  ...  day  weekday      Category
0     2019-12-13 11:38:33.226  256787571627  80G0  ...   13        4  AIRTIME_DATA
1     2019-11-15 09:16:06.591  256704005298  80G0  ...   15        4  AIRTIME_DATA
2     2019-11-19 19:51:59.545  256701950144  80G0  ...   19        1  AIRTIME_DATA
3     2019-12-12 11:41:13.059  256702173540  80G0  ...   12        3  AIRTIME_DATA
4     2019-12-27 18:17:24.438  256779600475  80G0  ...   27        4  AIRTIME_DATA
...                       ...           ...   ...  ...  ...      ...           ...
66509 2020-02-03 00:38:08.263  256751875343  WZF8  ...    3        0  AIRTIME_DATA
66510 2020-02-03 09:19:24.799  256705268336  WZF8  ...    3        0  AIRTIME_DATA
66511 2020-02-04 18:13:39.612  256702381226  WZF8  ...    4        1  AIRTIME_DATA
66512 2020-02-04 21:39:08.131  256751875343  WZF8  ...    4        1  AIRTIME_DATA
66513 2020-02-18 18:20:41.041  256702381226  WZF8  ...   18        1  AIRTIME_DATA

[66514 rows x 8 columns]

In [0]:
s.dt.day

2019-11-01 00:38:59.418     1
2019-11-02 00:38:59.418     2
2019-11-03 00:38:59.418     3
2019-11-04 00:38:59.418     4
2019-11-05 00:38:59.418     5
                           ..
2020-02-18 00:38:59.418    18
2020-02-19 00:38:59.418    19
2020-02-20 00:38:59.418    20
2020-02-21 00:38:59.418    21
2020-02-22 00:38:59.418    22
Freq: D, Length: 114, dtype: int64

In [0]:
train = train.sort_values(by = 'date')
train

                         date           acc   PID  year  month  day
929   2019-11-01 00:38:59.418  256702177173  U1DD  2019     11    1
17858 2019-11-01 00:41:40.281  256702177173  80G0  2019     11    1
30451 2019-11-01 00:58:35.659  256774747834  U1DD  2019     11    1
17853 2019-11-01 01:00:57.025  256774747834  80G0  2019     11    1
4005  2019-11-01 01:02:30.683  256703053300  DJGS  2019     11    1
...                       ...           ...   ...   ...    ...  ...
66509 2020-02-22 21:43:49.110  256706118107  WLIW  2020      2   22
66510 2020-02-22 21:54:22.426  256759760017  WLIW  2020      2   22
66511 2020-02-22 21:54:46.918  256797135398  DJGS  2020      2   22
66512 2020-02-22 22:07:44.173  256000000000  U1DD  2020      2   22
66513 2020-02-22 22:32:54.348  256777575334  T0LZ  2020      2   22

[66514 rows x 6 columns]

In [0]:
train.date = train.date.apply(lambda x:  x.replace(second=0,minute=0,microsecond=0,hour=0))

In [0]:
train["date"].nunique()

114

In [0]:
acc = train["acc"].unique()
year = train['year'].unique()
month = train['month'].unique()
pid = train['day'].unique()
pid = train['PID'].unique()
empty_df = [] 
for i in range(34): 
  for shop in shop_ids: 
    for item in pid: 
      empty_df.append([i, shop, item])
empty_df = pd.DataFrame(empty_df, columns=['date_block_num','shop_id','item_id'])

In [0]:
# train.groupby(["acc","year","month","day","PID"]).head()
bigdfobj =  []

for a in train["acc"].unique() :
  for d in train["date"].unique ():
    for p in train["PID"].unique():
      bigdfobj.append([a,d,p])

In [0]:
len(bigdfobj)

10054344

In [0]:
train[train.month==11].day

39080     1
3228      1
42778     1
3227      1
57137     1
         ..
3622     30
55699    30
57306    30
39021    30
64450    30
Name: day, Length: 17991, dtype: int64

In [0]:
bigdfobj = pd.DataFrame(bigdfobj,columns=["acc","date","pid"])

In [0]:
bigdfobj.sort_values("date",inplace=True)

In [0]:
bigdfobj.to_pickle("bigdf.pkl")

In [0]:
# to_remove_ind = bigdfobj[(bigdfobj.month == 2) & (bigdfobj.day > 22)].index
# bigdfobj.drop(to_remove_ind , inplace = True , axis = 0)

In [0]:
# to_remove_ind = bigdfobj[(bigdfobj.month == 11) & (bigdfobj.day == 31)].index
# bigdfobj.drop(to_remove_ind , inplace = True , axis = 0)

In [0]:
train.columns

Index(['date', 'acc', 'PID', 'year', 'month', 'day'], dtype='object')

In [0]:
train  = train.sort_values("date")

In [0]:
train.rename(columns={"PID":"pid"},inplace=True)

In [0]:
train.columns

Index(['date', 'acc', 'PID', 'year', 'month', 'day'], dtype='object')

In [0]:
train.drop(["month","year","day"],axis=1,inplace=True)

In [0]:
# train.drop(,axis=1,inplace=True)

In [0]:
train["target"] = np.zeros(len(train)) + 1

In [0]:
bigdfobj = pd.merge(bigdfobj,train,how="left",on=["acc","date","pid"])

In [0]:
bigdfobj.target.fillna(0,inplace=True)

In [0]:
bigdfobj.dtypes

acc                int64
date      datetime64[ns]
pid               object
target           float64
dtype: object

In [0]:
bigdfobj["year"] = bigdfobj.date.apply(lambda x : x.year)
bigdfobj["month"] = bigdfobj.date.apply(lambda x : x.month)
bigdfobj["day"] = bigdfobj.date.apply(lambda x : x.day)

In [0]:
# train = train.assign(year =  train.date.dt.year, month = train.date.dt.month ,day = train.date.dt.day)

In [0]:
bigdfobj.target.value_counts()/len(bigdfobj)

0.0    0.993405
1.0    0.006595
Name: target, dtype: float64

In [0]:
enc = LabelEncoder()
enc.fit(train.pid.unique())
bigdfobj.pid = enc.transform(bigdfobj.pid)

In [0]:
# bigdfobj.to_pickle("bigdf1encoded.pkl")

In [0]:
from sklearn.naive_bayes import GaussianNB

Index(['acc', 'year', 'month', 'day', 'pid', 'target'], dtype='object')

In [0]:

for i in[11,12,1,2]:
  bigdfobj[bigdfobj.month == i].sort_values("day",inplace=True)

In [0]:
# bigdfobj.to_pickle("bigdfsort1.pkl")

In [0]:
len(train.acc.value_counts())

2594

In [0]:
categories.Category.unique()

array(['CASHBACK', 'AIRTIME_DATA', 'MOBILE_MONEY', 'AIRTIME', 'UTILITIES',
       'ENTERTAINMENT', 'OTHER'], dtype=object)

In [0]:
train = train.merge(categories)

In [0]:
train

                         date           acc   PID  ...  day  weekday      Category
0     2019-12-13 11:38:33.226  256787571627  80G0  ...   13        4  AIRTIME_DATA
1     2019-11-15 09:16:06.591  256704005298  80G0  ...   15        4  AIRTIME_DATA
2     2019-11-19 19:51:59.545  256701950144  80G0  ...   19        1  AIRTIME_DATA
3     2019-12-12 11:41:13.059  256702173540  80G0  ...   12        3  AIRTIME_DATA
4     2019-12-27 18:17:24.438  256779600475  80G0  ...   27        4  AIRTIME_DATA
...                       ...           ...   ...  ...  ...      ...           ...
66509 2020-02-03 00:38:08.263  256751875343  WZF8  ...    3        0  AIRTIME_DATA
66510 2020-02-03 09:19:24.799  256705268336  WZF8  ...    3        0  AIRTIME_DATA
66511 2020-02-04 18:13:39.612  256702381226  WZF8  ...    4        1  AIRTIME_DATA
66512 2020-02-04 21:39:08.131  256751875343  WZF8  ...    4        1  AIRTIME_DATA
66513 2020-02-18 18:20:41.041  256702381226  WZF8  ...   18        1  AIRTIME_DATA

[66514 rows x 8 columns]

In [0]:
train , _ , _ = AllEncoder(train ,train , train,'h' ,['Category'])
train.head()

                         date           acc   PID  year  ...    2    3    4    5
39080 2019-11-01 00:38:59.418  256702177173  U1DD  2019  ...  0.0  1.0  0.0  0.0
26937 2020-01-01 08:06:06.433  256701433663  WLIW  2020  ...  0.0  0.0  0.0  0.0
23023 2020-01-01 08:06:13.834  256701433663  WLIW  2020  ...  0.0  0.0  0.0  0.0
26938 2020-01-01 08:06:31.214  256756616917  WLIW  2020  ...  0.0  0.0  0.0  0.0
12536 2020-01-01 08:06:38.109  256756616917  WLIW  2020  ...  0.0  0.0  0.0  0.0

[5 rows x 13 columns]

In [0]:
train

                         date           acc   PID  ...  day  weekday      Category
0     2019-12-13 11:38:33.226  256787571627  80G0  ...   13        4  AIRTIME_DATA
1     2019-11-15 09:16:06.591  256704005298  80G0  ...   15        4  AIRTIME_DATA
2     2019-11-19 19:51:59.545  256701950144  80G0  ...   19        1  AIRTIME_DATA
3     2019-12-12 11:41:13.059  256702173540  80G0  ...   12        3  AIRTIME_DATA
4     2019-12-27 18:17:24.438  256779600475  80G0  ...   27        4  AIRTIME_DATA
...                       ...           ...   ...  ...  ...      ...           ...
66509 2020-02-03 00:38:08.263  256751875343  WZF8  ...    3        0  AIRTIME_DATA
66510 2020-02-03 09:19:24.799  256705268336  WZF8  ...    3        0  AIRTIME_DATA
66511 2020-02-04 18:13:39.612  256702381226  WZF8  ...    4        1  AIRTIME_DATA
66512 2020-02-04 21:39:08.131  256751875343  WZF8  ...    4        1  AIRTIME_DATA
66513 2020-02-18 18:20:41.041  256702381226  WZF8  ...   18        1  AIRTIME_DATA

[66514 rows x 8 columns]

In [0]:
train.PID.nunique()

34

# Encodnig

In [0]:
def AllEncoder(train,validation,test ,entype,cols_index):

  encoder = None
  if entype == "l": 
    lab_enc = LabelEncoder()
    for col_index in cols_index :
      train[col_index] = lab_enc.fit_transform(train[col_index])
      validation[col_index] = lab_enc.transform(validation[col_index])
      test[col_index] = lab_enc.transform(test[col_index])        

  elif entype == "h" :
     oh_enc = OneHotEncoder(handle_unknown = 'ignore' , sparse = False)
     OH_cols_train = pd.DataFrame(oh_enc.fit_transform(train[cols_index]))
     OH_cols_valid = pd.DataFrame(oh_enc.transform(validation[cols_index]))
     OH_cols_test = pd.DataFrame(oh_enc.transform(test[cols_index]))
     OH_cols_train.index = train.index
     OH_cols_valid.index = validation.index
     OH_cols_test.index = test.index
     numerical_train = train.drop(cols_index , axis = 1)
     numerical_valid = validation.drop(cols_index , axis = 1)
     numerical_test = test.drop(cols_index , axis = 1)
     train = pd.concat([numerical_train , OH_cols_train], axis = 1 ) 
     validation = pd.concat([numerical_valid , OH_cols_valid] , axis = 1)
     test = pd.concat([numerical_test , OH_cols_test] , axis = 1)
  elif entype == "m" :
       
    #mean encoding
    from sklearn.model_selection import KFold
    kf = KFold(n_splits = 5 , shuffle = False )
    for train_index , val_index in kf.split(df) :
        X_train , X_val = df.iloc[train_index] , df.iloc[val_index]
        df.loc[val_index,'item_target_enc'] = X_val['item_id'].map(X_train.groupby('item_id')['item_cnt_month'].mean())
    df['item_target_enc'].fillna(base.item_cnt_month.mean(), inplace=True)


  else : 
      print("use h , l or m for entype")
    
    
  return  train,validation,test

In [0]:
def handle_bad_cols(trainx,val_test):
  object_cols = [col for col in trainx.columns if trainx[col].dtype == 'object'] 
  good_label_cols = [col for col in object_cols if set(trainx[col]) == set(val_test[col]) ]
  bad_label_cols = list( set(object_cols) - set(good_label_cols) )
  for i in bad_label_cols:
    most = trainx[i].value_counts().index[0]
    labels = trainx[i].unique()
    val_test[i] = val_test[i].apply(lambda x : x if x in labels else most)
  return val_test

In [0]:
categories.rename(columns={"PID":"pid"},inplace=True)

In [0]:
bigdfobj.pid

0           U1DD
1           CPEH
2           3USE
3           P7R7
4           49DG
            ...
10085799    WLIW
10085800    T0LZ
10085801    Q9SJ
10085802    AWYV
10085803    WZF8
Name: pid, Length: 10085804, dtype: object

In [0]:
bigdfobj = pd.merge(bigdfobj,categories,how="left")

In [0]:
data = pd.read_pickle("bigdf.pkl")

In [0]:
train["target"] = 1
data = pd.merge(data,train,how="left", on=["acc","date","pid"])

In [0]:
data.target.fillna(0,inplace=True)

In [0]:
data.target.sum()

66514.0

# Base Model

In [0]:
def get_data_splits(df , split_fraction = 0.2) :
    """
    Splits a dataframe into 80% train, 20% validation but first order by the date_block_num. 
    
    """
    #df = df.sort_values(by = 'date_block_num') #sort values by the date_clock_num so that the test set is the last period of time
    num_of_rows = int(len(df) * split_fraction)
    train = df[ :-num_of_rows ]
    validation = df[-num_of_rows : ]
    
    return train, validation

In [0]:
traind, validation = get_data_splits(bigdfobj.drop("date",axis=1))

In [0]:
traind.target.value_counts()/len(traind)

0.0    0.993294
1.0    0.006706
Name: target, dtype: float64

In [0]:
validation.target.value_counts()/len(validation)

0.0    0.993851
1.0    0.006149
Name: target, dtype: float64

In [0]:
X_train

                  acc       date  pid  year  month  day
0        256702177173 2019-11-01   26  2019     11    1
1        256794989487 2019-11-01   14  2019     11    1
2        256794989487 2019-11-01    2  2019     11    1
3        256794989487 2019-11-01   21  2019     11    1
4        256794989487 2019-11-01    3  2019     11    1
...               ...        ...  ...   ...    ...  ...
8068639  256756758250 2020-01-31   24  2020      1   31
8068640  256771989756 2020-01-31   20  2020      1   31
8068641  256758728079 2020-01-31    0  2020      1   31
8068642  256758728079 2020-01-31   32  2020      1   31
8068643  256784431369 2020-01-31   12  2020      1   31

[8068644 rows x 6 columns]

In [0]:
from sklearn.metrics import f1_score
from sklearn.tree import DecisionTreeClassifier

In [0]:
# trying some models and see which one is the best

X_train = traind.drop('target' , axis = 1)
y_train = traind.target

X_val = validation.drop('target' , axis = 1)
y_val = validation.target


models = []
# models.append(('XGB' , XGBRegressor()) )
models.append(("tree", DecisionTreeClassifier()))
# models.append(('RF' ,RandomForestRegressor(verbose = False ,random_state = 1) ))
# models.append(('LR' ,LinearRegression() ))
for name, model in models :
    model.fit(X_train, y_train)
    f1 = f1_score(model.predict(X_val), y_val )  
    print(name ,": ",f1 )

naive :  0.24889132220093074

In [0]:
submission_clean = {"acc":[],"date":[],"pid":[]}
for i in submission["Account X date X PID"]:
  d = i.split("X") 
  submission_clean["acc"].append(float(d[0]))
  submission_clean["date"].append(d[1].replace(" ",""))
  submission_clean["pid"].append(d[2].replace(" ",""))

submission_clean = pd.DataFrame(submission_clean)

In [0]:
submission_clean

                 acc        date   pid
0       2.567870e+11  2020-02-23  5YR6
1       2.567870e+11  2020-02-23  WLIW
2       2.567870e+11  2020-02-23  U1DD
3       2.567870e+11  2020-02-23  T0LZ
4       2.567870e+11  2020-02-23  80G0
...              ...         ...   ...
111043  2.567047e+11  2020-02-29  P4IQ
111044  2.567047e+11  2020-02-29  PNYC
111045  2.567047e+11  2020-02-29  YDAG
111046  2.567047e+11  2020-02-29  ZDTG
111047  2.567047e+11  2020-02-29  7IPS

[111048 rows x 3 columns]

In [0]:
submission_clean = handle_bad_cols(train,submission_clean)

In [0]:
# submission_clean['Prediction'] = 0  
# submission_clean.pid = enc.transform(submission_clean.pid) 
# submission_clean.rename(columns={"PID":"pid"},inplace=True)

In [0]:
submission_clean.date = pd.to_datetime(submission_clean.date) 
submission_clean = submission_clean.assign(year = submission_clean.date.dt.year, month = submission_clean.date.dt.month ,day = submission_clean.date.dt.day)
submission_clean.drop(['date'] , axis = 1 , inplace = True) 
# submission_clean['Prediction'] = 0  
# submission_clean.PID = enc.transform(submission_clean.PID) 
# submission_clean.rename(columns={"PID":"pid"},inplace=True)
# submission_clean.merge(categories , on = 'PID')

In [0]:
train

            date           acc   pid  target
929   2019-11-01  256702177173  U1DD     1.0
17858 2019-11-01  256702177173  80G0     1.0
30451 2019-11-01  256774747834  U1DD     1.0
17853 2019-11-01  256774747834  80G0     1.0
4005  2019-11-01  256703053300  DJGS     1.0
...          ...           ...   ...     ...
66509 2020-02-22  256706118107  WLIW     1.0
66510 2020-02-22  256759760017  WLIW     1.0
66511 2020-02-22  256797135398  DJGS     1.0
66512 2020-02-22  256000000000  U1DD     1.0
66513 2020-02-22  256777575334  T0LZ     1.0

[66514 rows x 4 columns]

In [0]:
submission_clean

                 acc   pid  year  month  day
0       2.567870e+11  5YR6  2020      2   23
1       2.567870e+11  WLIW  2020      2   23
2       2.567870e+11  U1DD  2020      2   23
3       2.567870e+11  T0LZ  2020      2   23
4       2.567870e+11  80G0  2020      2   23
...              ...   ...   ...    ...  ...
111043  2.567047e+11  P4IQ  2020      2   29
111044  2.567047e+11  PNYC  2020      2   29
111045  2.567047e+11  YDAG  2020      2   29
111046  2.567047e+11  ZDTG  2020      2   29
111047  2.567047e+11  7IPS  2020      2   29

[111048 rows x 5 columns]

In [0]:
tr  = DecisionTreeClassifier()
tr.fit(bigdfobj.drop(["target","date"],axis=1),bigdfobj["target"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
pred = tr.predict(submission_clean)

In [0]:
submission["Prediction"]= pred

In [0]:
submission.to_csv("sub1.csv",index=False)

In [0]:
submission.Prediction.sum()

1055.0

# Feature engineering

In [0]:
data = pd.merge(data,categories)

In [0]:
data

                   acc       date   pid      Category
0         256702177173 2019-11-01  U1DD  MOBILE_MONEY
1         256705848786 2019-11-01  U1DD  MOBILE_MONEY
2         256794989487 2019-11-01  U1DD  MOBILE_MONEY
3         256705040016 2019-11-01  U1DD  MOBILE_MONEY
4         256781899610 2019-11-01  U1DD  MOBILE_MONEY
...                ...        ...   ...           ...
10054339  256777222008 2020-02-22  WZF8  AIRTIME_DATA
10054340  256700425809 2020-02-22  WZF8  AIRTIME_DATA
10054341  256772359045 2020-02-22  WZF8  AIRTIME_DATA
10054342  256772806102 2020-02-22  WZF8  AIRTIME_DATA
10054343  256705146872 2020-02-22  WZF8  AIRTIME_DATA

[10054344 rows x 4 columns]

In [0]:
submission_clean = pd.merge(submission_clean,categories)

In [0]:
data, submission_clean , _ = AllEncoder(data,submission_clean,data,"h",cols_index=["Category"])

In [0]:
# data, submission_clean , _ = AllEncoder(data,submission_clean,data,"l",cols_index=["pid"])
data.pid = enc.transform(data.pid)
submission_clean.pid = enc.transform(submission_clean.pid)

In [0]:
[d  for d in submission_clean.pid.unique() if d not  in  data.pid.unique() ]

[]

In [0]:
data

                   acc       date  pid    0    1    2    3    4    5
0         256702177173 2019-11-01   26  0.0  0.0  0.0  1.0  0.0  0.0
1         256705848786 2019-11-01   26  0.0  0.0  0.0  1.0  0.0  0.0
2         256794989487 2019-11-01   26  0.0  0.0  0.0  1.0  0.0  0.0
3         256705040016 2019-11-01   26  0.0  0.0  0.0  1.0  0.0  0.0
4         256781899610 2019-11-01   26  0.0  0.0  0.0  1.0  0.0  0.0
...                ...        ...  ...  ...  ...  ...  ...  ...  ...
10054339  256777222008 2020-02-22   29  0.0  1.0  0.0  0.0  0.0  0.0
10054340  256700425809 2020-02-22   29  0.0  1.0  0.0  0.0  0.0  0.0
10054341  256772359045 2020-02-22   29  0.0  1.0  0.0  0.0  0.0  0.0
10054342  256772806102 2020-02-22   29  0.0  1.0  0.0  0.0  0.0  0.0
10054343  256705146872 2020-02-22   29  0.0  1.0  0.0  0.0  0.0  0.0

[10054344 rows x 9 columns]

In [0]:
data

                   acc       date  pid  target    0    1    2    3    4    5
0         256702177173 2019-11-01   26     1.0  0.0  0.0  0.0  1.0  0.0  0.0
1         256705848786 2019-11-01   26     0.0  0.0  0.0  0.0  1.0  0.0  0.0
2         256794989487 2019-11-01   26     0.0  0.0  0.0  0.0  1.0  0.0  0.0
3         256705040016 2019-11-01   26     0.0  0.0  0.0  0.0  1.0  0.0  0.0
4         256781899610 2019-11-01   26     0.0  0.0  0.0  0.0  1.0  0.0  0.0
...                ...        ...  ...     ...  ...  ...  ...  ...  ...  ...
10085799  256777222008 2020-02-22   29     0.0  0.0  1.0  0.0  0.0  0.0  0.0
10085800  256700425809 2020-02-22   29     0.0  0.0  1.0  0.0  0.0  0.0  0.0
10085801  256772359045 2020-02-22   29     0.0  0.0  1.0  0.0  0.0  0.0  0.0
10085802  256772806102 2020-02-22   29     0.0  0.0  1.0  0.0  0.0  0.0  0.0
10085803  256705146872 2020-02-22   29     0.0  0.0  1.0  0.0  0.0  0.0  0.0

[10085804 rows x 10 columns]

In [0]:
data.date = pd.to_datetime(data.date) 
data = data.assign(year = data.date.dt.year, month = data.date.dt.month ,day = data.date.dt.day)

In [0]:
data.drop(["date",],axis=1,inplace=True)

In [0]:
data.drop(range(0,6),axis=1,inplace= True)

In [0]:
data

                   acc  pid  target  year  month  day
0         256702177173   26     1.0  2019     11    1
1         256705848786   26     0.0  2019     11    1
2         256794989487   26     0.0  2019     11    1
3         256705040016   26     0.0  2019     11    1
4         256781899610   26     0.0  2019     11    1
...                ...  ...     ...   ...    ...  ...
10085799  256777222008   29     0.0  2020      2   22
10085800  256700425809   29     0.0  2020      2   22
10085801  256772359045   29     0.0  2020      2   22
10085802  256772806102   29     0.0  2020      2   22
10085803  256705146872   29     0.0  2020      2   22

[10085804 rows x 6 columns]

In [0]:
datalag =  data.copy()

lag_list = [1, 2, 3] 
for lag in lag_list: 
  ft_name = ('item_cnt_shifted%s' % lag)
  datalag[ft_name] = datalag.sort_values('day').groupby(['acc', 'pid', 'month'])['target'].shift(lag) # Fill the empty shifted features with 0 train[ft_name].fillna(0, inplace=True) 
  datalag[ft_name].fillna(0,inplace=True)

In [0]:
datalag.drop(range(0,6),axis=1,inplace=True)

In [0]:
submission_cleanlag = submission_clean.copy()

In [0]:
lag_list = [1, 2, 3] 
for lag in lag_list: 
  ft_name = ('item_cnt_shifted%s' % lag)
  submission_cleanlag[ft_name] = datalag[(datalag.year == 2020) & (datalag.month==2)].sort_values('day').groupby(['acc', 'pid', 'month'])['target'].shift(lag) # Fill the empty shifted features with 0 train[ft_name].fillna(0, inplace=True) 
  submission_cleanlag[ft_name].fillna(0,inplace=True)

In [0]:
datalag

                   acc  pid  ...  item_cnt_shifted2  item_cnt_shifted3
0         256702177173   26  ...                0.0                0.0
1         256705848786   26  ...                0.0                0.0
2         256794989487   26  ...                0.0                0.0
3         256705040016   26  ...                0.0                0.0
4         256781899610   26  ...                0.0                0.0
...                ...  ...  ...                ...                ...
10085799  256777222008   29  ...                0.0                0.0
10085800  256700425809   29  ...                0.0                0.0
10085801  256772359045   29  ...                0.0                0.0
10085802  256772806102   29  ...                0.0                0.0
10085803  256705146872   29  ...                0.0                0.0

[10085804 rows x 9 columns]

In [0]:
tr = DecisionTreeClassifier()
tr.fit(datalag.drop("target",axis=1),datalag.target)
pred = tr.predict(submission_cleanlag)
submission["Prediction"] = pred

In [0]:
submission.to_csv("lag.csv",index=False)

In [0]:
data

                   acc  pid  target  year  month  day
0         256702177173   26     1.0  2019     11    1
1         256705848786   26     0.0  2019     11    1
2         256794989487   26     0.0  2019     11    1
3         256705040016   26     0.0  2019     11    1
4         256781899610   26     0.0  2019     11    1
...                ...  ...     ...   ...    ...  ...
10085799  256777222008   29     0.0  2020      2   22
10085800  256700425809   29     0.0  2020      2   22
10085801  256772359045   29     0.0  2020      2   22
10085802  256772806102   29     0.0  2020      2   22
10085803  256705146872   29     0.0  2020      2   22

[10085804 rows x 6 columns]

In [0]:
 #mean encoding
from sklearn.model_selection import KFold
kf = KFold(n_splits = 5 , shuffle = False )
for train_index , val_index in kf.split(data) :
    X_train , X_val = data.iloc[train_index] , data.iloc[val_index]
    data.loc[val_index,'item_target_enc'] = X_val['acc'].map(X_train.groupby('acc')['target'].mean())
data['item_target_enc'].fillna(1 , inplace=True)