<a href="https://colab.research.google.com/github/mohiiieldin/Xente-Purchase-Prediction-Hakathon/blob/master/Zindi_Hakathon_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Collecting https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
  Downloading https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
     \ 36.4MB 108kB/s
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.5.3) (1.4.1)
Requirement already satisfied: pandas==0.25.3 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.5.3) (0.25.3)
Requirement already satisfied: matplotlib==3.2.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.5.3) (3.2.0)
Collecting confuse==1.0.0
  Downloading https://files.pythonhosted.org/packages/4c/6f/90e860cba937c174d8b3775729ccc6377eb91f52ad4eeb008e7252a3646d/confuse-1.0.0.tar.gz
Requirement already satisfied: jinja2==2.11.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.5.3) (2.11.1)
Collecting visions==0.2.3
  Downloading https://files.pythonhosted.org/packages/ae/7a/11ddf6763805a3efb8e1ba631e3d95a9454c4429bef357b923472fc92909/visions-0.2.3.tar.gz
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.5.3) (1.18.2)
Collecting statsmodels==0.11.1
  Downloading https://files.pythonhosted.org/packages/cb/83/540fd83238a18abe6c2d280fa8e489ac5fcefa1f370f0ca1acd16ae1b860/statsmodels-0.11.1-cp36-cp36m-manylinux1_x86_64.whl (8.7MB)
     |████████████████████████████████| 8.7MB 8.7MB/s
Collecting htmlmin==0.1.12
  Downloading https://files.pythonhosted.org/packages/b3/e7/fcd59e12169de19f0131ff2812077f964c6b960e7c09804d30a7bf2ab461/htmlmin-0.1.12.tar.gz
Requirement already satisfied: missingno==0.4.2 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.5.3) (0.4.2)
Collecting phik==0.9.10
  Downloading https://files.pythonhosted.org/packages/5f/f3/b764d2ae5dfc8c623125346cbc26db3523c50351b2e1817d603c84df0518/phik-0.9.10-py3-none-any.whl (607kB)
     |████████████████████████████████| 614kB 49.5MB/s
Requirement already satisfied: astropy==4.0 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.5.3) (4.0)
Collecting tangled-up-in-unicode==0.0.4
  Downloading https://files.pythonhosted.org/packages/83/10/5214fc9cc7cdd55b49f54fffca0625ca807f4a031adcf4beb7ccda2bc1cd/tangled_up_in_unicode-0.0.4.tar.gz (1.5MB)
     |████████████████████████████████| 1.5MB 49.4MB/s
Collecting requests==2.23.0
  Downloading https://files.pythonhosted.org/packages/1a/70/1935c770cb3be6e3a8b78ced23d7e0f3b187f5cbfab4749523ed65d7c9b1/requests-2.23.0-py2.py3-none-any.whl (58kB)
     |████████████████████████████████| 61kB 8.5MB/s
Collecting tqdm==4.43.0
  Downloading https://files.pythonhosted.org/packages/47/55/fd9170ba08a1a64a18a7f8a18f088037316f2a41be04d2fe6ece5a653e8f/tqdm-4.43.0-py2.py3-none-any.whl (59kB)
     |████████████████████████████████| 61kB 9.0MB/s
Requirement already satisfied: ipywidgets==7.5.1 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling==2.5.3) (7.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==0.25.3->pandas-profiling==2.5.3) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas==0.25.3->pandas-profiling==2.5.3) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.2.0->pandas-profiling==2.5.3) (2.4.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.2.0->pandas-profiling==2.5.3) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib==3.2.0->pandas-profiling==2.5.3) (1.1.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from confuse==1.0.0->pandas-profiling==2.5.3) (3.13)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2==2.11.1->pandas-profiling==2.5.3) (1.1.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.6/dist-packages (from visions==0.2.3->pandas-profiling==2.5.3) (2.4)
Requirement already satisfied: attrs in /usr/local/lib/python3.6/dist-packages (from visions==0.2.3->pandas-profiling==2.5.3) (19.3.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from statsmodels==0.11.1->pandas-profiling==2.5.3) (0.5.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.6/dist-packages (from missingno==0.4.2->pandas-profiling==2.5.3) (0.10.0)
Requirement already satisfied: jupyter-client>=5.2.3 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.10->pandas-profiling==2.5.3) (5.3.4)
Requirement already satisfied: joblib>=0.14.1 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.10->pandas-profiling==2.5.3) (0.14.1)
Collecting pytest>=4.0.2
  Downloading https://files.pythonhosted.org/packages/c7/e2/c19c667f42f72716a7d03e8dd4d6f63f47d39feadd44cc1ee7ca3089862c/pytest-5.4.1-py3-none-any.whl (246kB)
     |████████████████████████████████| 256kB 59.7MB/s
Collecting pytest-pylint>=0.13.0
  Downloading https://files.pythonhosted.org/packages/31/ef/e848f832a596a8a40b32d8aa169788b4df167c2d6a5960c01e83a30ebaa7/pytest_pylint-0.15.1-py3-none-any.whl
Requirement already satisfied: nbconvert>=5.3.1 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.10->pandas-profiling==2.5.3) (5.6.1)
Requirement already satisfied: numba>=0.38.1 in /usr/local/lib/python3.6/dist-packages (from phik==0.9.10->pandas-profiling==2.5.3) (0.47.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests==2.23.0->pandas-profiling==2.5.3) (2019.11.28)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests==2.23.0->pandas-profiling==2.5.3) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests==2.23.0->pandas-profiling==2.5.3) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests==2.23.0->pandas-profiling==2.5.3) (2.8)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas-profiling==2.5.3) (5.5.0)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas-profiling==2.5.3) (4.6.1)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas-profiling==2.5.3) (4.3.3)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas-profiling==2.5.3) (3.5.1)
Requirement already satisfied: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets==7.5.1->pandas-profiling==2.5.3) (5.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas==0.25.3->pandas-profiling==2.5.3) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib==3.2.0->pandas-profiling==2.5.3) (46.0.0)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.6/dist-packages (from networkx->visions==0.2.3->pandas-profiling==2.5.3) (4.4.2)
Requirement already satisfied: tornado>=4.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik==0.9.10->pandas-profiling==2.5.3) (4.5.3)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik==0.9.10->pandas-profiling==2.5.3) (17.0.0)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=5.2.3->phik==0.9.10->pandas-profiling==2.5.3) (4.6.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.10->pandas-profiling==2.5.3) (20.3)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.10->pandas-profiling==2.5.3) (1.8.1)
Collecting pluggy<1.0,>=0.12
  Downloading https://files.pythonhosted.org/packages/a0/28/85c7aa31b80d150b772fbe4a229487bc6644da9ccb7e427dd8cc60cb8a62/pluggy-0.13.1-py2.py3-none-any.whl
Requirement already satisfied: importlib-metadata>=0.12; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.10->pandas-profiling==2.5.3) (1.5.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.10->pandas-profiling==2.5.3) (0.1.8)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from pytest>=4.0.2->phik==0.9.10->pandas-profiling==2.5.3) (8.2.0)
Collecting pylint>=2.0.0
  Downloading https://files.pythonhosted.org/packages/e9/59/43fc36c5ee316bb9aeb7cf5329cdbdca89e5749c34d5602753827c0aa2dc/pylint-2.4.4-py3-none-any.whl (302kB)
     |████████████████████████████████| 307kB 42.3MB/s
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.10->pandas-profiling==2.5.3) (1.4.2)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.10->pandas-profiling==2.5.3) (0.4.4)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.10->pandas-profiling==2.5.3) (3.1.3)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.10->pandas-profiling==2.5.3) (0.6.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.10->pandas-profiling==2.5.3) (2.1.3)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.10->pandas-profiling==2.5.3) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert>=5.3.1->phik==0.9.10->pandas-profiling==2.5.3) (0.8.4)
Requirement already satisfied: llvmlite>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.38.1->phik==0.9.10->pandas-profiling==2.5.3) (0.31.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.5.3) (0.8.1)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.5.3) (4.8.0)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.5.3) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.5.3) (1.0.18)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets==7.5.1->pandas-profiling==2.5.3) (0.2.0)
Requirement already satisfied: notebook>=4.4.1 in /usr/local/lib/python3.6/dist-packages (from widgetsnbextension~=3.5.0->ipywidgets==7.5.1->pandas-profiling==2.5.3) (5.2.2)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets==7.5.1->pandas-profiling==2.5.3) (2.6.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata>=0.12; python_version < "3.8"->pytest>=4.0.2->phik==0.9.10->pandas-profiling==2.5.3) (3.1.0)
Collecting isort<5,>=4.2.5
  Downloading https://files.pythonhosted.org/packages/e5/b0/c121fd1fa3419ea9bfd55c7f9c4fedfec5143208d8c7ad3ce3db6c623c21/isort-4.3.21-py2.py3-none-any.whl (42kB)
     |████████████████████████████████| 51kB 7.3MB/s
Collecting astroid<2.4,>=2.3.0
  Downloading https://files.pythonhosted.org/packages/ad/ae/86734823047962e7b8c8529186a1ac4a7ca19aaf1aa0c7713c022ef593fd/astroid-2.3.3-py3-none-any.whl (205kB)
     |████████████████████████████████| 215kB 60.2MB/s
Collecting mccabe<0.7,>=0.6
  Downloading https://files.pythonhosted.org/packages/87/89/479dc97e18549e21354893e4ee4ef36db1d237534982482c3681ee6e7b57/mccabe-0.6.1-py2.py3-none-any.whl
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert>=5.3.1->phik==0.9.10->pandas-profiling==2.5.3) (0.5.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=4.0.0; python_version >= "3.3"->ipywidgets==7.5.1->pandas-profiling==2.5.3) (0.6.0)
Requirement already satisfied: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets==7.5.1->pandas-profiling==2.5.3) (0.8.3)
Collecting typed-ast<1.5,>=1.4.0; implementation_name == "cpython" and python_version < "3.8"
  Downloading https://files.pythonhosted.org/packages/90/ed/5459080d95eb87a02fe860d447197be63b6e2b5e9ff73c2b0a85622994f4/typed_ast-1.4.1-cp36-cp36m-manylinux1_x86_64.whl (737kB)
     |████████████████████████████████| 747kB 54.4MB/s
Collecting wrapt==1.11.*
  Downloading https://files.pythonhosted.org/packages/23/84/323c2415280bc4fc880ac5050dddfb3c8062c2552b34c2e512eb4aa68f79/wrapt-1.11.2.tar.gz
Collecting lazy-object-proxy==1.4.*
  Downloading https://files.pythonhosted.org/packages/0b/dd/b1e3407e9e6913cf178e506cd0dee818e58694d9a5cd1984e3f6a8b9a10f/lazy_object_proxy-1.4.3-cp36-cp36m-manylinux1_x86_64.whl (55kB)
     |████████████████████████████████| 61kB 9.3MB/s
Building wheels for collected packages: pandas-profiling, confuse, visions, htmlmin, tangled-up-in-unicode, wrapt
  Building wheel for pandas-profiling (setup.py) ... done
  Created wheel for pandas-profiling: filename=pandas_profiling-2.5.3-py2.py3-none-any.whl size=239775 sha256=fb27cdde76af8e9bc797b1edd46736a11390070270c93de9eec1d95a31360e27
  Stored in directory: /tmp/pip-ephem-wheel-cache-vfpa35oi/wheels/56/c2/dd/8d945b0443c35df7d5f62fa9e9ae105a2d8b286302b92e0109
  Building wheel for confuse (setup.py) ... done
  Created wheel for confuse: filename=confuse-1.0.0-cp36-none-any.whl size=17487 sha256=95c57329882e901e13efe879a35ebb7a6f2e5efb308cd5d8a5400b4f0208af2b
  Stored in directory: /root/.cache/pip/wheels/b0/b2/96/2074eee7dbf7b7df69d004c9b6ac4e32dad04fb7666cf943bd
  Building wheel for visions (setup.py) ... done
  Created wheel for visions: filename=visions-0.2.3-cp36-none-any.whl size=55585 sha256=69c30873e3f0c14cf15dda04dffc70805c8b9f8ac4c82b34e77f5b577ba02cd6
  Stored in directory: /root/.cache/pip/wheels/4a/64/50/67ad0b530b0993d37d7455fa64556ffbcdce6f48f3587daf29
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-cp36-none-any.whl size=27084 sha256=d4d8e5f9d0dfe4e9766bdce21d4b5807fe1d4792bce7eb71584d38978b952316
  Stored in directory: /root/.cache/pip/wheels/43/07/ac/7c5a9d708d65247ac1f94066cf1db075540b85716c30255459
  Building wheel for tangled-up-in-unicode (setup.py) ... done
  Created wheel for tangled-up-in-unicode: filename=tangled_up_in_unicode-0.0.4-cp36-none-any.whl size=1545723 sha256=a9886842adbda489e20858e36ca56bacc83c12280554ffdeaeef85d19e02fb06
  Stored in directory: /root/.cache/pip/wheels/f9/f1/84/923abc0c2a75358b0bc28f87de02c7aa328c731ce68317d97d
  Building wheel for wrapt (setup.py) ... done
  Created wheel for wrapt: filename=wrapt-1.11.2-cp36-cp36m-linux_x86_64.whl size=67532 sha256=9b0af61d89609f25f4f71cfd6896e412138a275cc19a14527cd81cb2a1cfb7f1
  Stored in directory: /root/.cache/pip/wheels/d7/de/2e/efa132238792efb6459a96e85916ef8597fcb3d2ae51590dfd
Successfully built pandas-profiling confuse visions htmlmin tangled-up-in-unicode wrapt
ERROR: tensorflow-federated 0.12.0 has requirement tensorflow~=2.1.0, but you'll have tensorflow 1.15.0 which is incompatible.
ERROR: tensorflow-federated 0.12.0 has requirement tensorflow-addons~=0.7.0, but you'll have tensorflow-addons 0.8.3 which is incompatible.
ERROR: google-colab 1.0.0 has requirement requests~=2.21.0, but you'll have requests 2.23.0 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: confuse, tangled-up-in-unicode, visions, statsmodels, htmlmin, pluggy, pytest, isort, typed-ast, wrapt, lazy-object-proxy, astroid, mccabe, pylint, pytest-pylint, phik, requests, tqdm, pandas-profiling
  Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
  Found existing installation: pluggy 0.7.1
    Uninstalling pluggy-0.7.1:
      Successfully uninstalled pluggy-0.7.1
  Found existing installation: pytest 3.6.4
    Uninstalling pytest-3.6.4:
      Successfully uninstalled pytest-3.6.4
  Found existing installation: wrapt 1.12.1
    Uninstalling wrapt-1.12.1:
      Successfully uninstalled wrapt-1.12.1
  Found existing installation: requests 2.21.0
    Uninstalling requests-2.21.0:
      Successfully uninstalled requests-2.21.0
  Found existing installation: tqdm 4.38.0
    Uninstalling tqdm-4.38.0:
      Successfully uninstalled tqdm-4.38.0
  Found existing installation: pandas-profiling 1.4.1
    Uninstalling pandas-profiling-1.4.1:
      Successfully uninstalled pandas-profiling-1.4.1
Successfully installed astroid-2.3.3 confuse-1.0.0 htmlmin-0.1.12 isort-4.3.21 lazy-object-proxy-1.4.3 mccabe-0.6.1 pandas-profiling-2.5.3 phik-0.9.10 pluggy-0.13.1 pylint-2.4.4 pytest-5.4.1 pytest-pylint-0.15.1 requests-2.23.0 statsmodels-0.11.1 tangled-up-in-unicode-0.0.4 tqdm-4.43.0 typed-ast-1.4.1 visions-0.2.3 wrapt-1.11.2

In [0]:
pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/94/ec/12b9a42b2ea7dfe5b602f235692ab2b61ee1334ff34334a15902272869e8/catboost-0.22-cp36-none-manylinux1_x86_64.whl (64.4MB)
     |████████████████████████████████| 64.4MB 64kB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.0)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (0.25.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.6)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (46.0.0)
Installing collected packages: catboost
Successfully installed catboost-0.22

In [1]:
# importing main libraries 
import  pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, timedelta,date
import pandas_profiling 
from pandas_profiling import ProfileReport
import seaborn as sns
from numpy import sqrt 
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
# from keras.layers import Embedding 
,
#importing machine learning libraries
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import confusion_matrix
import sklearn.metrics as metrics
from sklearn.cluster import KMeans

# import classifier
from sklearn.ensemble import RandomForestClassifier
from xgboost.sklearn import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier

#importing regressors
from xgboost.sklearn import XGBRegressor
#from catboost import CatBoostRegressor



from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn import svm

#ignoring warnings
import warnings
warnings.filterwarnings("ignore")

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn import metrics



#Pipeline and encoders
#from sklearn.compose import columnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
from catboost import Pool
from catboost import CatBoostClassifier

Rading and cleaning the data

In [0]:
Pid_path="/content/drive/My Drive/zindi-data/PID_Categories.csv"
sample_path = '/content/drive/My Drive/zindi-data/SampleSubmission.csv'
train_path = '/content/drive/My Drive/zindi-data/Train.csv'
original = pd.read_csv(train_path)
categories = pd.read_csv(Pid_path)
submission = pd.read_csv(sample_path)

In [0]:
train = original.copy()

# data cleaning

In [0]:
train.date =  pd.to_datetime(train.date)

In [0]:
train = train.assign(year =  train.date.dt.year, month = train.date.dt.month ,day = train.date.dt.day)

In [0]:
from datetime import datetime

In [0]:
train['weekday'] = train['date'].dt.dayofweek
train

                         date           acc   PID  ...  day  weekday      Category
0     2019-12-13 11:38:33.226  256787571627  80G0  ...   13        4  AIRTIME_DATA
1     2019-11-15 09:16:06.591  256704005298  80G0  ...   15        4  AIRTIME_DATA
2     2019-11-19 19:51:59.545  256701950144  80G0  ...   19        1  AIRTIME_DATA
3     2019-12-12 11:41:13.059  256702173540  80G0  ...   12        3  AIRTIME_DATA
4     2019-12-27 18:17:24.438  256779600475  80G0  ...   27        4  AIRTIME_DATA
...                       ...           ...   ...  ...  ...      ...           ...
66509 2020-02-03 00:38:08.263  256751875343  WZF8  ...    3        0  AIRTIME_DATA
66510 2020-02-03 09:19:24.799  256705268336  WZF8  ...    3        0  AIRTIME_DATA
66511 2020-02-04 18:13:39.612  256702381226  WZF8  ...    4        1  AIRTIME_DATA
66512 2020-02-04 21:39:08.131  256751875343  WZF8  ...    4        1  AIRTIME_DATA
66513 2020-02-18 18:20:41.041  256702381226  WZF8  ...   18        1  AIRTIME_DATA

[66514 rows x 8 columns]

In [0]:
s.dt.day

2019-11-01 00:38:59.418     1
2019-11-02 00:38:59.418     2
2019-11-03 00:38:59.418     3
2019-11-04 00:38:59.418     4
2019-11-05 00:38:59.418     5
                           ..
2020-02-18 00:38:59.418    18
2020-02-19 00:38:59.418    19
2020-02-20 00:38:59.418    20
2020-02-21 00:38:59.418    21
2020-02-22 00:38:59.418    22
Freq: D, Length: 114, dtype: int64

In [0]:
train = train.sort_values(by = 'date')
train

                         date           acc   PID  year  month  day
929   2019-11-01 00:38:59.418  256702177173  U1DD  2019     11    1
17858 2019-11-01 00:41:40.281  256702177173  80G0  2019     11    1
30451 2019-11-01 00:58:35.659  256774747834  U1DD  2019     11    1
17853 2019-11-01 01:00:57.025  256774747834  80G0  2019     11    1
4005  2019-11-01 01:02:30.683  256703053300  DJGS  2019     11    1
...                       ...           ...   ...   ...    ...  ...
66509 2020-02-22 21:43:49.110  256706118107  WLIW  2020      2   22
66510 2020-02-22 21:54:22.426  256759760017  WLIW  2020      2   22
66511 2020-02-22 21:54:46.918  256797135398  DJGS  2020      2   22
66512 2020-02-22 22:07:44.173  256000000000  U1DD  2020      2   22
66513 2020-02-22 22:32:54.348  256777575334  T0LZ  2020      2   22

[66514 rows x 6 columns]

In [0]:
train.date = train.date.apply(lambda x:  x.replace(second=0,minute=0,microsecond=0,hour=0))

In [0]:
train["date"].nunique()

114

In [0]:
acc = train["acc"].unique()
year = train['year'].unique()
month = train['month'].unique()
pid = train['day'].unique()
pid = train['PID'].unique()
empty_df = [] 
for i in range(34): 
  for shop in shop_ids: 
    for item in pid: 
      empty_df.append([i, shop, item])
empty_df = pd.DataFrame(empty_df, columns=['date_block_num','shop_id','item_id'])

In [0]:
# train.groupby(["acc","year","month","day","PID"]).head()
bigdfobj =  []

for a in train["acc"].unique() :
  for d in train["date"].unique ():
    for p in train["PID"].unique():
      bigdfobj.append([a,d,p])

In [0]:
len(bigdfobj)

10054344

In [0]:
train[train.month==11].day

39080     1
3228      1
42778     1
3227      1
57137     1
         ..
3622     30
55699    30
57306    30
39021    30
64450    30
Name: day, Length: 17991, dtype: int64

In [0]:
bigdfobj = pd.DataFrame(bigdfobj,columns=["acc","date","pid"])

In [0]:
bigdfobj.sort_values("date",inplace=True)

In [0]:
bigdfobj.to_pickle("bigdf.pkl")

In [0]:
# to_remove_ind = bigdfobj[(bigdfobj.month == 2) & (bigdfobj.day > 22)].index
# bigdfobj.drop(to_remove_ind , inplace = True , axis = 0)

In [0]:
# to_remove_ind = bigdfobj[(bigdfobj.month == 11) & (bigdfobj.day == 31)].index
# bigdfobj.drop(to_remove_ind , inplace = True , axis = 0)

In [0]:
train.columns

Index(['date', 'acc', 'PID', 'year', 'month', 'day'], dtype='object')

In [0]:
train  = train.sort_values("date")

In [0]:
train.rename(columns={"PID":"pid"},inplace=True)

In [0]:
train.columns

Index(['date', 'acc', 'PID', 'year', 'month', 'day'], dtype='object')

In [0]:
train.drop(["month","year","day"],axis=1,inplace=True)

In [0]:
# train.drop(,axis=1,inplace=True)

In [0]:
train["target"] = np.zeros(len(train)) + 1

In [0]:
bigdfobj = pd.merge(bigdfobj,train,how="left",on=["acc","date","pid"])

In [0]:
bigdfobj.target.fillna(0,inplace=True)

In [0]:
bigdfobj.dtypes

acc                int64
date      datetime64[ns]
pid               object
target           float64
dtype: object

In [0]:
bigdfobj["year"] = bigdfobj.date.apply(lambda x : x.year)
bigdfobj["month"] = bigdfobj.date.apply(lambda x : x.month)
bigdfobj["day"] = bigdfobj.date.apply(lambda x : x.day)

In [0]:
# train = train.assign(year =  train.date.dt.year, month = train.date.dt.month ,day = train.date.dt.day)

In [0]:
bigdfobj.target.value_counts()/len(bigdfobj)

0.0    0.993405
1.0    0.006595
Name: target, dtype: float64

In [0]:
enc = LabelEncoder()
enc.fit(train.pid.unique())
bigdfobj.pid = enc.transform(bigdfobj.pid)

In [0]:
# bigdfobj.to_pickle("bigdf1encoded.pkl")

In [0]:
from sklearn.naive_bayes import GaussianNB

Index(['acc', 'year', 'month', 'day', 'pid', 'target'], dtype='object')

In [0]:

for i in[11,12,1,2]:
  bigdfobj[bigdfobj.month == i].sort_values("day",inplace=True)

In [0]:
bigdfobj.to_pickle("bigdfsort1.pkl")

In [0]:

bigdfobj["date"] = [datetime(x[1],x[2],x[3]) for x in bigdfobj.iterrows()]

IndexError: ignored

In [0]:
len(train.acc.value_counts())

2594

In [0]:
categories.Category.unique()

array(['CASHBACK', 'AIRTIME_DATA', 'MOBILE_MONEY', 'AIRTIME', 'UTILITIES',
       'ENTERTAINMENT', 'OTHER'], dtype=object)

In [0]:
train = train.merge(categories)

In [0]:
train

                         date           acc   PID  ...  day  weekday      Category
0     2019-12-13 11:38:33.226  256787571627  80G0  ...   13        4  AIRTIME_DATA
1     2019-11-15 09:16:06.591  256704005298  80G0  ...   15        4  AIRTIME_DATA
2     2019-11-19 19:51:59.545  256701950144  80G0  ...   19        1  AIRTIME_DATA
3     2019-12-12 11:41:13.059  256702173540  80G0  ...   12        3  AIRTIME_DATA
4     2019-12-27 18:17:24.438  256779600475  80G0  ...   27        4  AIRTIME_DATA
...                       ...           ...   ...  ...  ...      ...           ...
66509 2020-02-03 00:38:08.263  256751875343  WZF8  ...    3        0  AIRTIME_DATA
66510 2020-02-03 09:19:24.799  256705268336  WZF8  ...    3        0  AIRTIME_DATA
66511 2020-02-04 18:13:39.612  256702381226  WZF8  ...    4        1  AIRTIME_DATA
66512 2020-02-04 21:39:08.131  256751875343  WZF8  ...    4        1  AIRTIME_DATA
66513 2020-02-18 18:20:41.041  256702381226  WZF8  ...   18        1  AIRTIME_DATA

[66514 rows x 8 columns]

In [0]:
train , _ , _ = AllEncoder(train ,train , train,'h' ,['Category'])
train.head()

                         date           acc   PID  year  ...    2    3    4    5
39080 2019-11-01 00:38:59.418  256702177173  U1DD  2019  ...  0.0  1.0  0.0  0.0
26937 2020-01-01 08:06:06.433  256701433663  WLIW  2020  ...  0.0  0.0  0.0  0.0
23023 2020-01-01 08:06:13.834  256701433663  WLIW  2020  ...  0.0  0.0  0.0  0.0
26938 2020-01-01 08:06:31.214  256756616917  WLIW  2020  ...  0.0  0.0  0.0  0.0
12536 2020-01-01 08:06:38.109  256756616917  WLIW  2020  ...  0.0  0.0  0.0  0.0

[5 rows x 13 columns]

In [0]:
train

                         date           acc   PID  ...  day  weekday      Category
0     2019-12-13 11:38:33.226  256787571627  80G0  ...   13        4  AIRTIME_DATA
1     2019-11-15 09:16:06.591  256704005298  80G0  ...   15        4  AIRTIME_DATA
2     2019-11-19 19:51:59.545  256701950144  80G0  ...   19        1  AIRTIME_DATA
3     2019-12-12 11:41:13.059  256702173540  80G0  ...   12        3  AIRTIME_DATA
4     2019-12-27 18:17:24.438  256779600475  80G0  ...   27        4  AIRTIME_DATA
...                       ...           ...   ...  ...  ...      ...           ...
66509 2020-02-03 00:38:08.263  256751875343  WZF8  ...    3        0  AIRTIME_DATA
66510 2020-02-03 09:19:24.799  256705268336  WZF8  ...    3        0  AIRTIME_DATA
66511 2020-02-04 18:13:39.612  256702381226  WZF8  ...    4        1  AIRTIME_DATA
66512 2020-02-04 21:39:08.131  256751875343  WZF8  ...    4        1  AIRTIME_DATA
66513 2020-02-18 18:20:41.041  256702381226  WZF8  ...   18        1  AIRTIME_DATA

[66514 rows x 8 columns]

In [0]:
train.PID.nunique()

34

# lags

In [0]:
#add all items per day per user

#sort by or group by item->userid->date

#get number of pay this specific product for prev 30 day or tell previous month

In [0]:
# adding a column for the last purchase for each account , second last purchas , ... (valiatee that you are not assiging values to wronge accounts)

In [0]:
# if the items or accounts are few we can do one hot encoding

# Encodnig

In [0]:
def AllEncoder(train,validation,test ,entype,cols_index):

  encoder = None
  if entype == "l": 
    lab_enc = LabelEncoder()
    for col_index in cols_index :
      train[col_index] = lab_enc.fit_transform(train[col_index])
      validation[col_index] = lab_enc.transform(validation[col_index])
      test[col_index] = lab_enc.transform(test[col_index])        

  elif entype == "h" :
     oh_enc = OneHotEncoder(handle_unknown = 'ignore' , sparse = False)
     OH_cols_train = pd.DataFrame(oh_enc.fit_transform(train[cols_index]))
     OH_cols_valid = pd.DataFrame(oh_enc.transform(validation[cols_index]))
     OH_cols_test = pd.DataFrame(oh_enc.transform(test[cols_index]))
     OH_cols_train.index = train.index
     OH_cols_valid.index = validation.index
     OH_cols_test.index = test.index
     numerical_train = train.drop(cols_index , axis = 1)
     numerical_valid = validation.drop(cols_index , axis = 1)
     numerical_test = test.drop(cols_index , axis = 1)
     train = pd.concat([numerical_train , OH_cols_train], axis = 1 ) 
     validation = pd.concat([numerical_valid , OH_cols_valid] , axis = 1)
     test = pd.concat([numerical_test , OH_cols_test] , axis = 1)
  elif entype == "m" :
       
    #mean encoding
    from sklearn.model_selection import KFold
    kf = KFold(n_splits = 5 , shuffle = False )
    for train_index , val_index in kf.split(df) :
        X_train , X_val = df.iloc[train_index] , df.iloc[val_index]
        df.loc[val_index,'item_target_enc'] = X_val['item_id'].map(X_train.groupby('item_id')['item_cnt_month'].mean())
    df['item_target_enc'].fillna(base.item_cnt_month.mean(), inplace=True)


  else : 
      print("use h , l or m for entype")
    
    
  return  train,validation,test

In [0]:
def handle_bad_cols(trainx,val_test):
  object_cols = [col for col in trainx.columns if trainx[col].dtype == 'object'] 
  good_label_cols = [col for col in object_cols if set(trainx[col]) == set(val_test[col]) ]
  bad_label_cols = list( set(object_cols) - set(good_label_cols) )
  for i in bad_label_cols:
    most = trainx[i].value_counts().index[0]
    labels = trainx[i].unique()
    val_test[i] = val_test[i].apply(lambda x : x if x in labels else most)
  return val_test

In [0]:
categories.rename(columns={"PID":"pid"},inplace=True)

In [0]:
categories.pid = enc.transform(categories.pid)

ValueError: ignored

In [0]:
bigdfobj.pid = enc.inverse_transform(bigdfobj.pid)

In [0]:
bigdfobj.pid

0           U1DD
1           CPEH
2           3USE
3           P7R7
4           49DG
            ...
10085799    WLIW
10085800    T0LZ
10085801    Q9SJ
10085802    AWYV
10085803    WZF8
Name: pid, Length: 10085804, dtype: object

In [0]:
bigdfobj = pd.merge(bigdfobj,categories,how="left")

In [0]:
data = pd.read_pickle("bigdf.pkl")

In [0]:
train["target"] = 1
data = pd.merge(data,train,how="left", on=["acc","date","pid"])

In [0]:
data.target.fillna(0,inplace=True)

In [0]:
data.target.sum()

66514.0

# Base Model

In [0]:
def get_data_splits(df , split_fraction = 0.2) :
    """
    Splits a dataframe into 80% train, 20% validation but first order by the date_block_num. 
    
    """
    #df = df.sort_values(by = 'date_block_num') #sort values by the date_clock_num so that the test set is the last period of time
    num_of_rows = int(len(df) * split_fraction)
    train = df[ :-num_of_rows ]
    validation = df[-num_of_rows : ]
    
    return train, validation

In [0]:
traind, validation = get_data_splits(bigdfobj.drop("date",axis=1))

In [0]:
# bigdfobj, submission_clean , _ = AllEncoder(bigdfobj,submission_clean,bigdfobj,"l",cols_index=["pid"])
# bigdfobj, submission_clean , _ = AllEncoder(bigdfobj,submission_clean,bigdfobj,"h",cols_index=["Category"])

KeyError: ignored

In [0]:
traind.target.value_counts()/len(traind)

0.0    0.993294
1.0    0.006706
Name: target, dtype: float64

In [0]:
validation.target.value_counts()/len(validation)

0.0    0.993851
1.0    0.006149
Name: target, dtype: float64

In [0]:
X_train

                  acc       date  pid  year  month  day
0        256702177173 2019-11-01   26  2019     11    1
1        256794989487 2019-11-01   14  2019     11    1
2        256794989487 2019-11-01    2  2019     11    1
3        256794989487 2019-11-01   21  2019     11    1
4        256794989487 2019-11-01    3  2019     11    1
...               ...        ...  ...   ...    ...  ...
8068639  256756758250 2020-01-31   24  2020      1   31
8068640  256771989756 2020-01-31   20  2020      1   31
8068641  256758728079 2020-01-31    0  2020      1   31
8068642  256758728079 2020-01-31   32  2020      1   31
8068643  256784431369 2020-01-31   12  2020      1   31

[8068644 rows x 6 columns]

In [0]:
from sklearn.metrics import f1_score
from sklearn.tree import DecisionTreeClassifier

In [0]:
# trying some models and see which one is the best

X_train = traind.drop('target' , axis = 1)
y_train = traind.target

X_val = validation.drop('target' , axis = 1)
y_val = validation.target


models = []
# models.append(('XGB' , XGBRegressor()) )
models.append(("tree", DecisionTreeClassifier()))
# models.append(('RF' ,RandomForestRegressor(verbose = False ,random_state = 1) ))
# models.append(('LR' ,LinearRegression() ))
for name, model in models :
    model.fit(X_train, y_train)
    f1 = f1_score(model.predict(X_val), y_val )  
    print(name ,": ",f1 )

naive :  0.24889132220093074

In [0]:
datetime(" 2020-02-23 ")

TypeError: ignored

In [0]:
submission_clean = {"acc":[],"date":[],"pid":[]}
for i in submission["Account X date X PID"]:
  d = i.split("X") 
  submission_clean["acc"].append(float(d[0]))
  submission_clean["date"].append(d[1].replace(" ",""))
  submission_clean["pid"].append(d[2].replace(" ",""))

submission_clean = pd.DataFrame(submission_clean)

In [0]:
submission_clean

                 acc        date   pid
0       2.567870e+11  2020-02-23  5YR6
1       2.567870e+11  2020-02-23  WLIW
2       2.567870e+11  2020-02-23  U1DD
3       2.567870e+11  2020-02-23  T0LZ
4       2.567870e+11  2020-02-23  80G0
...              ...         ...   ...
111043  2.567047e+11  2020-02-29  P4IQ
111044  2.567047e+11  2020-02-29  PNYC
111045  2.567047e+11  2020-02-29  YDAG
111046  2.567047e+11  2020-02-29  ZDTG
111047  2.567047e+11  2020-02-29  7IPS

[111048 rows x 3 columns]

In [0]:
submission_clean = handle_bad_cols(train,submission_clean)

In [0]:
# submission_clean['Prediction'] = 0  
# submission_clean.pid = enc.transform(submission_clean.pid) 
# submission_clean.rename(columns={"PID":"pid"},inplace=True)

In [0]:
submission_clean.date = pd.to_datetime(submission_clean.date) 
submission_clean = submission_clean.assign(year = submission_clean.date.dt.year, month = submission_clean.date.dt.month ,day = submission_clean.date.dt.day)
submission_clean.drop(['date'] , axis = 1 , inplace = True) 
# submission_clean['Prediction'] = 0  
# submission_clean.PID = enc.transform(submission_clean.PID) 
# submission_clean.rename(columns={"PID":"pid"},inplace=True)
# submission_clean.merge(categories , on = 'PID')

In [0]:
train

            date           acc   pid  target
929   2019-11-01  256702177173  U1DD     1.0
17858 2019-11-01  256702177173  80G0     1.0
30451 2019-11-01  256774747834  U1DD     1.0
17853 2019-11-01  256774747834  80G0     1.0
4005  2019-11-01  256703053300  DJGS     1.0
...          ...           ...   ...     ...
66509 2020-02-22  256706118107  WLIW     1.0
66510 2020-02-22  256759760017  WLIW     1.0
66511 2020-02-22  256797135398  DJGS     1.0
66512 2020-02-22  256000000000  U1DD     1.0
66513 2020-02-22  256777575334  T0LZ     1.0

[66514 rows x 4 columns]

In [0]:
submission_clean

                 acc   pid  year  month  day
0       2.567870e+11  5YR6  2020      2   23
1       2.567870e+11  WLIW  2020      2   23
2       2.567870e+11  U1DD  2020      2   23
3       2.567870e+11  T0LZ  2020      2   23
4       2.567870e+11  80G0  2020      2   23
...              ...   ...   ...    ...  ...
111043  2.567047e+11  P4IQ  2020      2   29
111044  2.567047e+11  PNYC  2020      2   29
111045  2.567047e+11  YDAG  2020      2   29
111046  2.567047e+11  ZDTG  2020      2   29
111047  2.567047e+11  7IPS  2020      2   29

[111048 rows x 5 columns]

In [0]:
tr  = DecisionTreeClassifier()
tr.fit(bigdfobj.drop(["target","date"],axis=1),bigdfobj["target"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
pred = tr.predict(submission_clean)

In [0]:
submission["Prediction"]= pred

In [0]:
submission.to_csv("sub1.csv",index=False)

In [0]:
submission.Prediction.sum()

1055.0

# Feature engineering

# Hyper paramter tuning

# model ensamble

In [0]:
!pip install mlens

In [0]:
from mlens.ensemble import SuperLearner

In [0]:
sl = SuperLearner(scorer=lambda y,y1 : -mean_squared_error(y,y1),random_state=45 )
sl.add([RandomForestRegressor(n_estimators=20),LinearRegression()])
sl.add_meta(LinearRegression())
sl.fit(X_train,y_train)
preds = sl.predict(X_val)

print(np.sqrt(mean_squared_error(y_val,preds)))

In [0]:
data = pd.merge(data,categories)

In [0]:
data

                   acc       date   pid      Category
0         256702177173 2019-11-01  U1DD  MOBILE_MONEY
1         256705848786 2019-11-01  U1DD  MOBILE_MONEY
2         256794989487 2019-11-01  U1DD  MOBILE_MONEY
3         256705040016 2019-11-01  U1DD  MOBILE_MONEY
4         256781899610 2019-11-01  U1DD  MOBILE_MONEY
...                ...        ...   ...           ...
10054339  256777222008 2020-02-22  WZF8  AIRTIME_DATA
10054340  256700425809 2020-02-22  WZF8  AIRTIME_DATA
10054341  256772359045 2020-02-22  WZF8  AIRTIME_DATA
10054342  256772806102 2020-02-22  WZF8  AIRTIME_DATA
10054343  256705146872 2020-02-22  WZF8  AIRTIME_DATA

[10054344 rows x 4 columns]

In [0]:
submission_clean = pd.merge(submission_clean,categories)

In [0]:
data, submission_clean , _ = AllEncoder(data,submission_clean,data,"h",cols_index=["Category"])

In [0]:
# data, submission_clean , _ = AllEncoder(data,submission_clean,data,"l",cols_index=["pid"])
data.pid = enc.transform(data.pid)
submission_clean.pid = enc.transform(submission_clean.pid)

In [0]:
[d  for d in submission_clean.pid.unique() if d not  in  data.pid.unique() ]

[]

In [0]:
data

                   acc       date  pid    0    1    2    3    4    5
0         256702177173 2019-11-01   26  0.0  0.0  0.0  1.0  0.0  0.0
1         256705848786 2019-11-01   26  0.0  0.0  0.0  1.0  0.0  0.0
2         256794989487 2019-11-01   26  0.0  0.0  0.0  1.0  0.0  0.0
3         256705040016 2019-11-01   26  0.0  0.0  0.0  1.0  0.0  0.0
4         256781899610 2019-11-01   26  0.0  0.0  0.0  1.0  0.0  0.0
...                ...        ...  ...  ...  ...  ...  ...  ...  ...
10054339  256777222008 2020-02-22   29  0.0  1.0  0.0  0.0  0.0  0.0
10054340  256700425809 2020-02-22   29  0.0  1.0  0.0  0.0  0.0  0.0
10054341  256772359045 2020-02-22   29  0.0  1.0  0.0  0.0  0.0  0.0
10054342  256772806102 2020-02-22   29  0.0  1.0  0.0  0.0  0.0  0.0
10054343  256705146872 2020-02-22   29  0.0  1.0  0.0  0.0  0.0  0.0

[10054344 rows x 9 columns]

In [0]:
data

                   acc       date  pid  target    0    1    2    3    4    5
0         256702177173 2019-11-01   26     1.0  0.0  0.0  0.0  1.0  0.0  0.0
1         256705848786 2019-11-01   26     0.0  0.0  0.0  0.0  1.0  0.0  0.0
2         256794989487 2019-11-01   26     0.0  0.0  0.0  0.0  1.0  0.0  0.0
3         256705040016 2019-11-01   26     0.0  0.0  0.0  0.0  1.0  0.0  0.0
4         256781899610 2019-11-01   26     0.0  0.0  0.0  0.0  1.0  0.0  0.0
...                ...        ...  ...     ...  ...  ...  ...  ...  ...  ...
10085799  256777222008 2020-02-22   29     0.0  0.0  1.0  0.0  0.0  0.0  0.0
10085800  256700425809 2020-02-22   29     0.0  0.0  1.0  0.0  0.0  0.0  0.0
10085801  256772359045 2020-02-22   29     0.0  0.0  1.0  0.0  0.0  0.0  0.0
10085802  256772806102 2020-02-22   29     0.0  0.0  1.0  0.0  0.0  0.0  0.0
10085803  256705146872 2020-02-22   29     0.0  0.0  1.0  0.0  0.0  0.0  0.0

[10085804 rows x 10 columns]

In [0]:
data.date = pd.to_datetime(data.date) 
data = data.assign(year = data.date.dt.year, month = data.date.dt.month ,day = data.date.dt.day)

In [0]:
data.drop(["date",],axis=1,inplace=True)

In [0]:
data.drop(range(0,6),axis=1,inplace= True)

In [0]:
data

                   acc  pid  target  year  month  day
0         256702177173   26     1.0  2019     11    1
1         256705848786   26     0.0  2019     11    1
2         256794989487   26     0.0  2019     11    1
3         256705040016   26     0.0  2019     11    1
4         256781899610   26     0.0  2019     11    1
...                ...  ...     ...   ...    ...  ...
10085799  256777222008   29     0.0  2020      2   22
10085800  256700425809   29     0.0  2020      2   22
10085801  256772359045   29     0.0  2020      2   22
10085802  256772806102   29     0.0  2020      2   22
10085803  256705146872   29     0.0  2020      2   22

[10085804 rows x 6 columns]

In [0]:
rf = CatBoostClassifier(iterations=6,eval_metric="F1",max_depth=10,learning_rate=0.1)
rf.fit(data.drop("target",axis=1),data.target)

0:	learn: 0.0000000	total: 648ms	remaining: 3.24s
1:	learn: 0.0000000	total: 1.04s	remaining: 2.08s
2:	learn: 0.0000000	total: 1.45s	remaining: 1.45s
3:	learn: 0.0000000	total: 1.84s	remaining: 921ms
4:	learn: 0.0000000	total: 2.12s	remaining: 423ms
5:	learn: 0.0000000	total: 2.34s	remaining: 0us

In [0]:
rf = RandomForestClassifier(n_estimators=60,max_features=None,class_weight={1:20,0:1})
rf.fit(data.drop("target",axis=1),data.target)

KeyboardInterrupt: ignored

In [0]:
submission_clean

                 acc  pid  year  month  day    0    1    2    3    4    5
0       2.567870e+11    5  2020      2   23  0.0  0.0  0.0  1.0  0.0  0.0
1       2.567870e+11    5  2020      2   24  0.0  0.0  0.0  1.0  0.0  0.0
2       2.567870e+11    5  2020      2   25  0.0  0.0  0.0  1.0  0.0  0.0
3       2.567870e+11    5  2020      2   26  0.0  0.0  0.0  1.0  0.0  0.0
4       2.567870e+11    5  2020      2   27  0.0  0.0  0.0  1.0  0.0  0.0
...              ...  ...   ...    ...  ...  ...  ...  ...  ...  ...  ...
111043  2.567047e+11    7  2020      2   25  0.0  0.0  0.0  0.0  1.0  0.0
111044  2.567047e+11    7  2020      2   26  0.0  0.0  0.0  0.0  1.0  0.0
111045  2.567047e+11    7  2020      2   27  0.0  0.0  0.0  0.0  1.0  0.0
111046  2.567047e+11    7  2020      2   28  0.0  0.0  0.0  0.0  1.0  0.0
111047  2.567047e+11    7  2020      2   29  0.0  0.0  0.0  0.0  1.0  0.0

[111048 rows x 11 columns]

In [0]:
pred = rf.predict(submission_clean.drop(range(0,6),axis=1))
submission["Prediction"]= pred
submission.to_csv("zindisub.csv",index=False)

In [0]:
datalag =  data.copy()

lag_list = [1, 2, 3] 
for lag in lag_list: 
  ft_name = ('item_cnt_shifted%s' % lag)
  datalag[ft_name] = datalag.sort_values('day').groupby(['acc', 'pid', 'month'])['target'].shift(lag) # Fill the empty shifted features with 0 train[ft_name].fillna(0, inplace=True) 
  datalag[ft_name].fillna(0,inplace=True)

In [0]:
datalag.drop(range(0,6),axis=1,inplace=True)

In [0]:
submission_cleanlag = submission_clean.copy()

In [0]:
lag_list = [1, 2, 3] 
for lag in lag_list: 
  ft_name = ('item_cnt_shifted%s' % lag)
  submission_cleanlag[ft_name] = datalag[(datalag.year == 2020) & (datalag.month==2)].sort_values('day').groupby(['acc', 'pid', 'month'])['target'].shift(lag) # Fill the empty shifted features with 0 train[ft_name].fillna(0, inplace=True) 
  submission_cleanlag[ft_name].fillna(0,inplace=True)

In [0]:
datalag

                   acc  pid  ...  item_cnt_shifted2  item_cnt_shifted3
0         256702177173   26  ...                0.0                0.0
1         256705848786   26  ...                0.0                0.0
2         256794989487   26  ...                0.0                0.0
3         256705040016   26  ...                0.0                0.0
4         256781899610   26  ...                0.0                0.0
...                ...  ...  ...                ...                ...
10085799  256777222008   29  ...                0.0                0.0
10085800  256700425809   29  ...                0.0                0.0
10085801  256772359045   29  ...                0.0                0.0
10085802  256772806102   29  ...                0.0                0.0
10085803  256705146872   29  ...                0.0                0.0

[10085804 rows x 9 columns]

In [0]:
tr = DecisionTreeClassifier()
tr.fit(datalag.drop("target",axis=1),datalag.target)
pred = tr.predict(submission_cleanlag)
submission["Prediction"] = pred

ValueError: ignored

In [0]:
submission.to_csv("lag.csv",index=False)

In [0]:
data

                   acc  pid  target  year  month  day
0         256702177173   26     1.0  2019     11    1
1         256705848786   26     0.0  2019     11    1
2         256794989487   26     0.0  2019     11    1
3         256705040016   26     0.0  2019     11    1
4         256781899610   26     0.0  2019     11    1
...                ...  ...     ...   ...    ...  ...
10085799  256777222008   29     0.0  2020      2   22
10085800  256700425809   29     0.0  2020      2   22
10085801  256772359045   29     0.0  2020      2   22
10085802  256772806102   29     0.0  2020      2   22
10085803  256705146872   29     0.0  2020      2   22

[10085804 rows x 6 columns]

In [0]:
 #mean encoding
from sklearn.model_selection import KFold
kf = KFold(n_splits = 5 , shuffle = False )
for train_index , val_index in kf.split(data) :
    X_train , X_val = data.iloc[train_index] , data.iloc[val_index]
    data.loc[val_index,'item_target_enc'] = X_val['acc'].map(X_train.groupby('acc')['target'].mean())
data['item_target_enc'].fillna(1 , inplace=True)

In [0]:
data

                   acc  pid  target  year  month  day  item_target_enc
0         256702177173   26     1.0  2019     11    1         0.016393
1         256705848786   26     0.0  2019     11    1         0.030167
2         256794989487   26     0.0  2019     11    1         0.006439
3         256705040016   26     0.0  2019     11    1         0.000323
4         256781899610   26     0.0  2019     11    1         0.000323
...                ...  ...     ...   ...    ...  ...              ...
10085799  256777222008   29     0.0  2020      2   22         0.000000
10085800  256700425809   29     0.0  2020      2   22         0.001935
10085801  256772359045   29     0.0  2020      2   22         0.035804
10085802  256772806102   29     0.0  2020      2   22         0.000645
10085803  256705146872   29     0.0  2020      2   22         0.000322

[10085804 rows x 7 columns]

In [0]:
submission_clean = pd.merge(submission_clean,data[["acc","item_target_enc"]], on="acc")

In [0]:
submission_clean

NameError: ignored